@import "tailwindcss";

@theme {
  --font-dms: "DM Sans", "sans-serif";
  --font-bricolage: "Bricolage Grotesque", "sans-serif";

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* --cards: "border-2 border-neutral-600 bg-neutral-800 rounded-xl"; */
}

@layer utilities {
  .scrollbar-blend {
    scrollbar-width: thin;
    scrollbar-color: hsla(243, 23%, 24%, 0.5) transparent;
  }
  .scrollbar-blend::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar-blend::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-blend::-webkit-scrollbar-thumb {
    background-color: hsla(243, 23%, 24%, 0.5);
    border-radius: 999px;
    border: 5px solid;
  }
  .scrollbar-blend::-webkit-scrollbar-thumb:hover {
    background-color: hsla(240, 6%, 70%, 0.2);
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .skeleton {
    background: linear-gradient(90deg, var(--color-neutral-600));
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }
  /* @keyframes shimmer {
    0% {
      background-position: 200% 0%;
    }
    100% {
      background-position: -200% 0%;
    }
  } */
}
